min-release-age=7

@1inch:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${GITHUB_NPM_TOKEN}

@1inch:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${GITHUB_NPM_TOKEN}
